@(form: Form[User])

@main("Create User") {

    @if(form.hasGlobalErrors) {
        <p class="error">
        @for(error <- form.globalErrors) {
            <p>@error</p>
        }
        </p>
    }

    @helper.form(action = routes.UserController.createUser()){
        @helper.CSRF.formField
        @helper.inputText(form("username"))
        @helper.inputText(form("email"))
        @helper.inputText(form("age"))
        @helper.inputPassword(form("password"))


        <button type="submit">Create User</button>
    }
}
